
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    background: #1F2232;
    width: 64px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: visible;

}
.sdicon .tooltip {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 125%;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; 
  }
  
  .sdicon:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
.sidebar-icon .sdicon {
    color: #fff;
}


.sidebar-section-top {
    width: 40px;
    margin-top: 24px;
    margin-left: 12px;
    height: fit-content;
}

.sidebar-section-bottom {
    position: absolute;
    margin-bottom: 12px;
    margin-left: 12px;
    bottom: 0;
}


.sdicon {
    width: 40px;
    height: 40px;
    position: relative;
    /* display: inline-block; */
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    border-radius: 8px; /* Optional: for rounded corners */
    transition: background-color 0.3s, border-color 0.3s;
} 

.sdicon:hover {
    background-color: #353846;
}
.sdicon-active {
    background-color: #136FDF;
}
.sdicon-active:hover {
    background-color: #136FDF; /* Same as the active state background */
}

#sdicon-settings{
    background-color: #136FDF;
}

#sdicon-profile{
    border-radius: 50%;
}